@font-face {
  font-family: Gilroy;
  font-weight: bold;
  src: url("/fonts/Gilroy/ExtraBold/Gilroy-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("/fonts/Gilroy/ExtraBold/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("/fonts/Gilroy/ExtraBold/Gilroy-ExtraBold.woff") format("woff"), /* Modern Browsers */
       url("/fonts/Gilroy/ExtraBold/Gilroy-ExtraBold.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("/fonts/Gilroy/ExtraBold/Gilroy-ExtraBold.svg#Gilroy") format("svg"); /* Legacy iOS */
}
